html,
body {
    height: 100%;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(5px + 2vmin);
    color: #f7fff7;
}

.site_title {
    font-size: 72pt;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    font-family: "Passion One", cursive;
    margin-bottom: 0px;
    text-align: center;
}

.site_sub_title {
    font-size: calc(10px + 2vmin);
    font-family: "Bellota", cursive;
}

.nav {
    position: absolute;
    top: calc((5px + 2vmin) * 20);
    align-items: center;
    justify-content: center;
}

a:hover {
    text-decoration: none;
    color: #282c34;
    background-color: #f7fff7;
}
.App-link {
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    margin: 20px 40px;
    background: none;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    min-width: 210px;
    justify-content: center;
}
.App-link:after,
.App-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #f7fff7;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}
.App-link:after {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
}
.App-link:before {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px);
}
.App-link:hover:after,
.App-link:hover:before {
    -webkit-transform: translate(0);
    transform: translate(0);
}
.App-link {
    color: #f7fff7;
}
