html,
body {
    color: #292f36;
    min-height: 100vh;
}

nav,
.navbar {
    background-color: #444b59;
}

.nav-link {
    font-family: "Bellota", cursive;
    color: white;
}

.nav-item {
    padding-right: 15px;
}

span,
.navbar-toggler-icon {
    color: white;
}

.jumbotron {
    background-color: #282c34;
    color: #f7fff7;
    margin-top: 0.25%;
}

.display-1 {
    font-family: "Amatic SC", cursive;
}

p,
.lead,
h1 {
    font-family: "Bellota", cursive;
    padding-bottom: 1rem;
}

h6 {
    font-family: "Oswald", sans-serif;
    padding-bottom: 5rem;
}

h4 {
    font-family: "Oswald", sans-serif;
}
