html,
body {
    background-color: #f7fff7;
    color: #292f36;
    min-height: 100vh;
}

h6 {
    padding-bottom: 5rem;
}

.jumbotron {
    background-color: #282c34;
    color: #f7fff7;
}

.display-1 {
    font-family: "Passion One", cursive;
}

p,
.lead,
.display-4 {
    font-family: "Bellota", cursive;
    padding-bottom: 1rem;
}

h4 {
    font-family: "Bellota", cursive;
}
